<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" href="/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/output.css">

</head>
<body class="h-screen flex justify-center items-center bg-gray-900">
    <div class="flex flex-col justify-center items-center text-white">
        <div class="flex justify-center items-center">
            <div class="px-2"><h1 class="text-5xl">Welcome to NOTEMAKER</h1></div>
            <div><img src="/images/logo.png" class="size-32"></div>
        </div>
        <p class="py-2">Keep your notes handy, wherever you go.</p>
        <form action="/login" method="GET">
            <button class="bg-blue-600 px-4 py-2 rounded hover:bg-blue-700">Get Started</button>
        </form>
    </div>
</body>
</html>